* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}
/* common style */
.common-btn {
  background-color: #1d4ed8ff;
  padding: 10px 20px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 18px;
  color: white;
  border: none;
  cursor: pointer;
}
/* navbar style */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  background-color: #ffffffff;
}
.nav-links,
a {
  list-style: none;
  display: flex;
  gap: 0px 20px;
  color: black;
}
/* banner style */
.banner {
  background-image: url(./assets/banner.jpg);
  background-size: cover;
  height: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-content {
  flex: 1;
  text-align: center;
  align-items: center;
  max-width: 1200px;
}
.banner-content h1 {
  font-size: 60px;
  margin-bottom: 20px;
}
.banner-content p {
  font-size: 18px;
}

/* speakers style */
.speaker